body {
    background-color: teal;
    height: 100%;
}

footer {
    position: fixed;
	bottom: 0;
	margin: 10px;
    color: pink;
    font-size: 15px;
}

span, label {
    color: pink
}

.message {
    font-weight: 600;
    color: white;
}
/* Flex box for body content*/
.contain, .box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    height: 80vh;
}

.contain input, span {
    margin: 4px;
}

/* Meal Picture Styling */
.contain img {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
}

/* Meal game container */
.box {
    width: 30%;
    height: 70%;
    background-color: rgb(172, 108, 44);
    margin: 5px;
}

.box > span {
    margin: 1%;
}

.wrap-text {
    text-wrap: pretty;
    text-align: center;
    width: 50%;
}


