{% extends "guessing/layout.html" %}
{% block title %}
    Finished!
{% endblock %}
{% block content %}

<div class="contain">
    <span>You have guessed on all available meals!</span>

    <span>Points Earned: {{ points }}</span>
    
    <span>Max Possible Score: {{ max_points }}</span>
    <br>
    <form method='GET' action={% url 'home'%}>
        <input type='submit' value ='Go Home'>
    </form>
    <br>
    <form method='post' action={% url 'rand_meal'%}>
        {% csrf_token %}
        <input type='submit' name="delete" value ='Generate New Meals'>
    </form>
</div> 

{% endblock %}