{% extends "guessing/layout.html" %}
{% block title %}
Meal Guesser - Home
{% endblock %}
{% block content %}
    <div class="contain">
        <span> Welcome to <span class="message"> Guess That Meal! </span> </span>
    
        <span class="wrap-text"> In this game you will have to guess the name of 10 meals just by their image.
            You have 3 chances to check how many points your guess earns before submitting a final answer.
            Every correct word in your guess that corresponds with a word in the meal name results in 1 point.
            This <span class="message">DOES</span> include conjunctions and is <span class="message">NOT</span>
            case sensitive.
            At the end of the game you will get your final score and how many points you could have obtained.
            Press the button below to start. Have fun!
        </span>
        <br>
        <form method='GET' action={% url 'rand_meal'%}>
            <input type='submit' value ='Start Playing!'>
        </form>
    </div> 
{% endblock %}
        
